.cursor {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  z-index: z('cursor');

  @media (pointer: fine) {
    visibility: visible;
  }

  &--outer {
    color: $c-pink-light;
    width: 30px;
    height: 30px;
    font-family: 'nm-medium';
    @include flex-pos;
    top: -15px;
    left: -15px;
    background-color: $c-red;
    border-radius: 50%;
    line-height: 100%;
    z-index: 0;
    position: absolute;

    .body--dark & {
      background-color: $c-pink-light;
    }

    &.cursor--projects {
      &:after {
        content: 'explore';
        font-size: 0.1rem;
      }
    }

    &.cursor--email {

      &:after {
        content: 'email';
        font-size: 0.1rem;
      }
    }
  }

  &--inner {
    width: 10px;
    height: 10px;
    left: -5px;
    top: -5px;
    background-color: $c-pink-light;
    z-index: 1;
    position: absolute;

    .body--dark & {
      background-color: $c-red;
    }
  }
}
