.cursor {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  z-index: z('cursor');

  @media (pointer: fine) {
    visibility: visible;
  }

  &--text {
    @include flex-pos;
    font-family: 'poppins-extralight', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    width: 50px;
    height: 50px;
    top: -25px !important;
    left: -25px !important;
    text-align: center;
    opacity: 0;
    color: $c-white;
    background-color: $c-grey-dark;
    cursor: none;
  }

  &--outer {
    width: 40px;
    height: 40px;
    opacity: 0.4;
    top: -20px;
    left: -20px;

    .cursor--white & {
      border: 1px solid $c-white;
    }

    .cursor--black & {
      border: 1px solid $c-black;
    }
  }

  &--inner {
    width: 10px;
    height: 10px;
    left: -5px;
    top: -5px;

    .cursor--white & {
      background: $c-white;
    }

    .cursor--black & {
      background: $c-black;
    }
  }
}
