.website-link {
  height: 150px;
  width: 150px;
  animation: rotate 7s linear infinite;
  @include flex-pos;
  display: inline-block;
  margin-bottom: 100px;

  &__image {
    transition: transform 1s ease;
    height: 100%;
    width: 100%;
  }

  &:hover {
    .website-link__image {
      transform: scale(0.8);
    }
  }
}
