.about {
  overflow-x: hidden;
  padding: 50px 0;
  
  @include media-breakpoint-up(xl) {
    padding: 200px 0;
  }

  &__title {
    margin-bottom: 50px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 100px;
    }
  }

  &__skills {
    @include flex-pos;
  }

  &__subtitle {
    @include h4;
    margin-bottom: 20px;
    position: relative;
    text-align: right;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      background-color: $c-grey-dark;
      height: 3px;
      width: 20%;
      left: 0;
    }
  }

  &__highlights {
    position: relative;

    @include media-breakpoint-up(lg) {
      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        background-color: $c-grey-dark;
        height: 2px;
        width: 100%;
        left: 0;
      }
    }
  }

  &__body {
    margin-bottom: 70px;

    @include media-breakpoint-up(md) {
      margin-bottom: 100px;
    }

    @include media-breakpoint-up(xl) {
      @include text--large;
      margin-bottom: 150px;
    }
  }

  &__skills-title {
    margin-bottom: 20px;
  }

  &__skills-list {
    margin-bottom: 50px;
    overflow: hidden;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    
    @include media-breakpoint-up(xl) {
      padding-top: 10px;
      margin-bottom: 100px;
    }

    ul {
      padding: 0;
    }

    li {
      overflow: hidden;
    }

    p {
      line-height: 2.4rem;
    }
  }

  &__block {
    @include media-breakpoint-up(xl) {
      transform: translateX(25%);
      opacity: 0;

      &.aos-animate {
        animation: slideInRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;

        &:after {
          animation: animateLineRight 0.6s cubic-bezier(0.19, 1, 0.22, 1) forwards;
        }
      }
    }

    padding: 20px 0;
    position: relative;

    @include media-breakpoint-up(md) {
      padding: 30px 0;
    }

    .body--dark & {
      &:after {
        background-color: rgba($c-white, 0.9);
      }
    }

    .body--teal & {
      &:after {
        background-color: rgba($c-beige, 0.9);
      }
    }
  }

  &__timeline {
    margin-bottom: 50px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 200px;
    }
  }

  &__timeline-body {
    margin-bottom: 5px;
    @include text--body;

    @include media-breakpoint-up(xl) {
      margin: 0;
    }

    &--right {
      @include media-breakpoint-up(lg) {
        text-align: right;
      }
    }
  }

  &__block {
    border-bottom: 1px solid rgba($c-grey-dark, 0.2);
  }
}

@for $i from 1 to 6 {
  @include media-breakpoint-up(xl) {
    .about__block:nth-child(#{$i}) {
      animation-delay: $i * 0.1s;
    }
  }
}

@for $i from 1 to 6 {
  @include media-breakpoint-up(xl) {
    .about__block::after:nth-child(#{$i}) {
      animation-delay: $i * 0.1s;
    }
  }
}
