.about {
  min-height: 100vh;
  height: 100%;
  padding: 100px 0;

  @include media-breakpoint-up(xl) {
    padding: 200px 0;
  }

  &__title-wrapper {
    margin-bottom: 20px;
  }

  &__title {
    line-height: 7rem;
    margin-bottom: 50px;
    font-size: 5.6rem;
    font-family: 'poppins-medium';
    font-weight: 600;

    @include media-breakpoint-up(md) {
      line-height: 11rem;
      margin-bottom: 50px;
      font-size: 10rem;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 100px;
      color: $c-white;
      font-size: 12rem;
      line-height: 14rem;
      margin-bottom: 100px;
    }
  }

  &__body {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
    }
  }

  &__overview {
    margin-bottom: 50px;
  }

  &__clients {
    @include flex-pos(flex-start, center);
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  &__client {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 5px;
    display: block;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 5rem;
      line-height: 8rem;
    }
  }

  &__timeline {
    margin-top: 100px;
  }

  &__block {
    border-bottom: 1px solid $c-white;
    padding: 20px 0;

    &.first {
      border-top: 1px solid $c-white;
    }

    @include media-breakpoint-up(md) {
      padding: 30px 0;
    }
  }

  &__date {
    text-align: left;
    margin: 0;
    color: $c-grey;

    @include media-breakpoint-up(md) {
      color: $c-white;
      @include text--body;
    }
  }

  &__role {
    text-align: left;
  }

  &__location {
    @include media-breakpoint-up(xl) {
      text-align: right;
    }
  }

  &__role,
  &__location {
    margin: 0;
    font-size: 2.2rem;
    line-height: 3.6rem;

    @include media-breakpoint-up(md) {
      @include text--body;
    }
  }
}
