.about {
  min-height: 100vh;
  height: 100%;
  padding: 100px 0;
  overflow-x: hidden;

  @include media-breakpoint-up(xl) {
    padding: 200px 0;
  }

  &__title-wrapper {
    margin-bottom: 20px;
  }

  &__title {
    line-height: 7rem;
    margin-bottom: 50px;
    font-size: 5.6rem;
    font-weight: 500;
    font-style: normal;

    @include media-breakpoint-up(md) {
      line-height: 11rem;
      margin-bottom: 50px;
      font-size: 10rem;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 100px;
      color: $c-white;
      font-size: 12rem;
      line-height: 14rem;
      margin-bottom: 100px;
    }
  }

  &__highlights {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0px;
      background-color: $c-grey-dark;
      height: 3px;
      width: 100%;
      left: 0;
    }

    .body--dark & {
      &:after {
        background-color: $c-white;
      }
    }

    .body--teal & {
      &:after {
        background-color: $c-beige;
      }
    }
  }

  &__intro {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      @include text--large;
      margin-bottom: 60px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 100px;
    }
  }

  &__body {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 100px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 150px;
    }

    > p {
      font-size: 3rem;
      font-family: 'nm-regular';
      line-height: 3.8rem;
      text-transform: uppercase;
    }
  }

  &__skills {
    overflow: hidden;
    margin-bottom: 70px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 180px;
    }

    li {
      overflow: hidden;
    }

    p {
      @include h4;
      vertical-align: middle;
      position: relative;
    }
  }

  &__block {
    padding: 20px 0;
    position: relative;
    transform: translateX(25%);
    opacity: 0;

    @include media-breakpoint-up(md) {
      padding: 30px 0;
    }

    &:after {
      content: '';
      height: 1px;
      background-color: rgba($c-grey-dark, 0.9);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0%;
    }

    .body--dark & {
      &:after {
        background-color: rgba($c-white, 0.9);
      }
    }

    .body--teal & {
      &:after {
        background-color: rgba($c-beige, 0.9);
      }
    }

    &.aos-animate {
      animation: slideInRight 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;

      &:after {
        animation: animateLineRight 0.6s cubic-bezier(0.19, 1, 0.22, 1) forwards;
      }
    }
  }

  &__date {
    font-size: 2.6rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    max-width: 50%;
  }

  &__timeline {
    margin-bottom: 200px;
  }

  &__timeline-body {
    margin: 0;
    font-size: 2.6rem;
    line-height: 2.6rem;
    text-transform: uppercase;

    &--right {
      @include media-breakpoint-up(lg) {
        text-align: right;
      }
    }
  }
}

@for $i from 1 to 6 {
  .about__block:nth-child(#{$i}) {
    animation-delay: $i * 0.04s;
  }
}

@for $i from 1 to 6 {
  .about__block::after:nth-child(#{$i}) {
    animation-delay: $i * 0.04s;
  }
}
