.contact {
  color: $c-grey-dark;
  padding: 50px 0 100px;

  @include media-breakpoint-up(lg) {
    padding: 100px 0 200px;
  }

  .body--dark & {
    color: $c-white;
  }

  .body--teal & {
    color: $c-beige;
  }

  &__title {
    margin-bottom: 70px;
  }

  &__body {
    @include text--medium;
    margin-bottom: 50px;
  }

  &__link {
    color: inherit;
    position: relative;
    z-index: 10;

    &:hover {
      color: inherit;
    }
  }

  &__anchor {
    color: $c-grey-dark;
    padding: 20px 0;

    &:hover {
      text-decoration: none;
      color: inherit;
    }

    .body--dark & {
      color: $c-white;
    }

    .body--teal & {
      color: $c-beige;
    }
  }
}
