.contact {
  color: $c-grey-dark;
  padding: 50px 0 100px;

  @include media-breakpoint-up(lg) {
    padding: 100px 0 200px;
  }

  .body--dark & {
    color: $c-white;
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__anchor {
    color: $c-grey-dark;
    padding: 20px 0;

    &:hover {
      text-decoration: none;
      color: inherit;
    }

    .body--dark & {
      color: $c-white;
    }
  }

  // .contact__link-span {
  //   .char {
  //     overflow: hidden;
  //     color: transparent;

  //     &:before,
  //     &:after {
  //       visibility: visible;
  //       color: $c-black;
  //       transition: transform 0.3s cubic-bezier(0.9, 0, 0.2, 1);
  //       transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
  //     }

  //     &:before {
  //       transition-delay: calc(0.02s * (var(--char-index)));
  //     }
  //   }

  //   &:hover .char:before {
  //     transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
  //   }
  //   &:hover .char:after {
  //     transition-delay: calc(0.02s * (var(--char-index)));
  //   }
  // }

  // .contact__link-span {
  //   .char:before {
  //     transform: translateY(-100%);
  //   }
  //   &:hover .char:before {
  //     transform: translateY(0%);
  //   }
  //   &:hover .char:after {
  //     transform: translateY(100%);
  //   }
  // }
}
