.error {
  height: 100vh;
  background-color: $c-yellow-light;

  &__flex {
    height: 100vh;
    @include flex-pos;
    flex-direction: column;
    text-align: center;
  }

  &__view {
    display: none;
    &.active {
      display: block;
    }
  }

  &__title {
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
      margin-bottom: 75px;
    }
  }

  &__body {
  }

  &__image,
  &__video {
    margin-bottom: 50px;
    width: 300px;
    height: 200px;
    @include object-fit;

    @include media-breakpoint-up(md) {
      width: 400px;
      height: 250px;
      margin-bottom: 75px;
    }

    @include media-breakpoint-up(xl) {
      width: 500px;
      height: 350px;
    }
  }

  &__link {
    color: $c-grey-dark;
    position: relative;

    &:after {
      content: '';
      bottom: -3px;
      height: 2px;
      width: 100%;
      left: 0;
      background: $c-grey-dark;
      position: absolute;
      display: inline-block;
    }

    &:hover {
      text-decoration: none;
      color: $c-grey-dark;
    }
  }
}
