.footer {
  &__body {
    @extend %footer-font;
  }

  &__flex {
    border-top: 2px solid $c-grey-dark;
    padding: 20px 0 30px;
    flex-direction: column;
    @include flex-pos(center, space-between);

    .body--dark & {
      border-top: 2px solid $c-white;
    }

    .body--teal & {
      border-top: 2px solid $c-beige;
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__button {
    @extend %footer-font;
    @include reset-button;
    margin-right: 10px;

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
  }
}

%footer-font {
  font-style: normal;
  color: inherit;
  font-family: 'nm-regular';
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2rem;

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
