.footer {
  &__body {
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-family: 'poppins-light', sans-serif;
  }

  &__flex {
    border-top: 1px solid $c-white;
    padding: 40px 0 50px;
    @include flex-pos(center, space-between);
  }

  &__button {
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-family: 'poppins-light', sans-serif;
    @include reset-button;
    color: $c-white;
    margin-right: 10px;

    &:active, &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
  }
}
