.footer {
  &__body {
    @extend %footer-font;
  }

  &__flex {
    border-top: 1px solid $c-white;
    padding: 40px 0 50px;
    @include flex-pos(center, space-between);

    .bg--light & {
      border-top: 1px solid $c-black;
    }
  }

  &__button {
    @extend %footer-font;
    @include reset-button;
    margin-right: 10px;

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
  }
}

%footer-font {
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: inherit;
}
