
@keyframes loadOut {
  0% {
    transform: translate3d(0, -50%, 0);
  }

  100% {
    transform: translate3d(0, -100%, 0);
  }
}

.loader {
  background: lime;
  height: 100vh;
  left: 0;
  width: 100vw;
  z-index: z('loader');
  top: 0;
  position: fixed;

  &--loaded {
    animation: loadOut 4s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translate3d(0, -50%, 0);
  }
}
