$height: 70px;

.navigation {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: z('navigation');
  padding: 20px 0;

  &__flex {
    @include flex-pos(flex-start, space-between);
  }

  &__logo {
    font-size: 2.6rem;
    // font-family: 'poppins-black';
    margin: 0;
        font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  &__links {
    margin: 0;
    padding: 0;
    @include flex-pos(flex-end, flex-start);
    flex-direction: column;

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__anchor {
    color: $c-white;
    text-align: right;
    
  }

  &__link,
  &__logo {
    display: inline-block;
    color: $c-white;
  }

  &__link {
    text-align: right;
    display: block;
    color: $c-white;
    // font-family: 'poppins-medium';
    margin: 0;
    font-size: 1.6rem;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;


    &:hover {
      color: inherit;
      text-decoration: none;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 20px;
    }
  }
}
