$height: 70px;

.navigation {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: z('navigation');
  top: 20px;

  @include media-breakpoint-up(md) {
    top: 40px;
  }

  @include media-breakpoint-up(xl) {
    top: 0;
    padding: 20px 0;
    height: 50px;
  }

  &__flex {
    @include flex-pos(center, space-between);
  }

  &__icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    font-size: 2.6rem;
    margin: 0;
    font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  &__links {
    margin: 0;
    padding: 0;
    @include flex-pos(flex-end, flex-start);
    flex-direction: column;

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__anchor {
    color: $c-white;
    text-align: right;

    @include media-breakpoint-up(xl) {
      @include flex-pos;
    }
  }

  &__link,
  &__logo {
    display: inline-block;
    color: $c-white;
  }

  &__link {
    text-align: right;
    display: block;
    color: $c-white;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.4rem;
      margin: 0 20px;
    }
  }

  .navigation__anchor {
    .char {
      overflow: hidden;
      color: transparent;

      &:before,
      &:after {
        visibility: visible;
        color: #fff;
        transition: transform 0.3s cubic-bezier(0.9, 0, 0.2, 1);
        transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
      }

      &:before {
        color:white;
        transition-delay: calc(0.02s * (var(--char-index)));
      }
    }

    &:hover .char:before {
      transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
    }
    &:hover .char:after {
      transition-delay: calc(0.02s * (var(--char-index)));
    }
  }

  .navigation__anchor {
    .char:before {
      transform: translateY(-100%);
    }
    &:hover .char:before {
      transform: translateY(0%);
    }
    &:hover .char:after {
      transform: translateY(100%);
    }
  }
}
