.project {
  padding: 50px 0;
  overflow-x: hidden;

  @include media-breakpoint-up(xl) {
    padding: 100px 0 0;
  }

  &__video {
    margin-bottom: 100px;
  }

  &__figure {
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
  }

  &__video {
    margin-bottom: 100px;
  }

  &__image {
    @include object-fit;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;

    &--contain {
      @include object-fit(contain);
    }
  }

  &__intro {
    @include text--medium;
    letter-spacing: 0.075rem;
    margin-top: 50px;

    @include media-breakpoint-up(xl) {
      margin-top: 100px;
    }
  }

  &__body {
    @include text--medium;
    text-indent: 6rem;
    margin: 70px 0;

    @include media-breakpoint-up(md) {
      text-indent: 10rem;
      margin: 100px 0;
    }
  }

  &__tech-wrapper {
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
      margin-bottom: 150px;
    }
  }

  &__tech {
    overflow: hidden;

    li {
      overflow: hidden;
    }

    p {
      @include text--medium;
      vertical-align: middle;
      position: relative;

      @include media-breakpoint-up(xl) {
        @include h4;
      }
    }
  }

  &__project-title {
    margin: 30px 0 0;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      margin: 50px 0 0;
    }
  }

  &__link {
    color: $c-grey-dark;
    @include text--medium;
    margin-bottom: 50px;
    display: inline-block;
    text-transform: capitalize;

    @include media-breakpoint-up(xl) {
      margin-bottom: 100px;
      @include h4;
    }

    .body--dark & {
      color: $c-white;
    }

    .body--teal & {
      color: $c-beige;
    }

    &:hover {
      color: inherit;
      text-decoration: none;
    }

    &--block {
      display: block;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 100px;
      }
    }
  }

  &__highlight {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0px;
      background-color: $c-grey-dark;
      height: 3px;
      width: 100%;
      left: 0;
    }
  }
}
