.projects {
  height: 100%;
  padding: 50px 0;

  @include media-breakpoint-up(md) {
    padding: 200px 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 200px 0;
  }

  &__project {
    margin-bottom: 100px;
    @include flex-pos(flex-start, center);
    width: 100%;

    &:first-of-type {
      @include media-breakpoint-up(lg) {
        justify-content: flex-start;

        .projects__link {
          width: 58%;
        }

        .projects__figure {
          height: 420px;
        }
      }
    }

    &:nth-child(2) {
      @include media-breakpoint-up(lg) {
        .projects__link {
          width: 62%;
        }

        .projects__figure {
          height: 380px;
        }
      }
    }

    &:nth-child(3) {
      @include media-breakpoint-up(lg) {
        margin: 0;
        justify-content: flex-start;

        .projects__link {
          width: 60%;
        }

        .projects__figure {
          height: 400px;
        }
      }
    }

    // &:last-of-type {
    //   margin: 0;

    //   justify-content: flex-end;

    //   .projects__link {
    //     width: 50%;
    //   }

    //   .projects__figure {
    //     height: 300px;
    //   }
    // }

    @include media-breakpoint-up(xl) {
      margin-bottom: 150px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 200px;
    }
  }

  &__anchor {
    cursor: none;
  }

  &__link {
    color: inherit;

    @include flex-pos(flex-start, center);
    flex-direction: column;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &__project-title {
    margin: 15px 0 10px 0;

    @include media-breakpoint-up(xl) {
      margin: 25px 0 10px 0;
    }
  }

  &__project-description-wrapper {
    @include media-breakpoint-up(md) {
      width: 70%;
    }

    @include media-breakpoint-up(lg) {
      width: 60%;
    }

    @include media-breakpoint-up(xl) {
      width: 50%;
    }
  }

  &__project-description {
    @include media-breakpoint-up(xl) {
      font-size: 1.8rem;
    }
  }

  &__figure {
    width: 100%;
    height: 250px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      width: 100%;
      margin-bottom: 20px;
      height: 400px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }

    @include media-breakpoint-up(xl) {
      height: 500px;
      margin-bottom: 40px;
    }
  }

  &__project-image {
    @include object-fit;
    width: 100%;
    height: 100%;
  }
}
