.project-hero {
  height: 100vh;

  &__flex {
    @include flex-pos(center, space-between);
  }

  &__content-wrapper {
    width: 60vw;
    padding: 5vw;
  }

  &__title {
    @include h2;
    margin-bottom: 50px;
  }

  &__index {
    @include text--small;
    margin-bottom: 5vh;
    display: block;
  }

  &__figure {
    height: 100vh;
    max-width: 40vw;
    margin: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $c-grey-light;
    }

    .body--light & {
      &:after {
        background-color: $c-grey-light;
      }
    }

    .body--dark & {
      &:after {
        background-color: $c-grey-dark;
      }
    }

    .body--teal & {
      &:after {
        background-color: $c-teal;
      }
    }
  }

  &__image {
    @include object-fit;
    width: 100%;
    height: 100%;
  }

  &__tags {
    @include text--body;
    text-transform: capitalize;
  }
}
