.project {
  padding: 50px 0;

  @include media-breakpoint-up(xl) {
    padding: 100px 0;
  }

  &__intro-block {
    margin-bottom: 30px;
  }

  &__title {
    @include h1--wide;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      margin-top: 100px;
      font-size: 10rem;
      line-height: 10rem;
    }
  }

  &__figure {
    position: relative;
    height: 200px;
    width: 100%;

    @include media-breakpoint-up(xl) {
      height: 600px;
    }
  }

  &__image-wrapper {
    overflow: hidden;

    &:nth-child(1) {
      @include media-breakpoint-up(md) {
        grid-column: 1 / 7;
        grid-row: 1 / 5;
      }
    }

    &:nth-child(2) {
      @include media-breakpoint-up(md) {
        grid-column: 8 / 12;
        grid-row: 2 / 7;
      }
    }

    &:nth-child(3) {
      grid-column: 2 / 9;
      grid-row: 8 / 12;
    }

    &:nth-child(4) {
      grid-column: 6 / 10;
      grid-row: 10 / 13;

      @include media-breakpoint-up(md) {
        grid-row: 10 / 18;
      }
    }
  }

  &__image {
    @include object-fit;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  &__body {
    margin: 100px 0;
  }

  &__image-grid {
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 100px);
      grid-gap: 15px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 100px;
    }
  }

  &__tech-wrapper {
    margin-bottom: 300px;
  }

  &__tech-list {
    @include flex-pos(center, flex-start);
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  &__tech {
    display: inline-block;
    margin: 0 40px;

    &:first-of-type,
    &:last-of-type {
      margin: 0;
    }
  }
}
