.projects {
  height: 100%;
  padding: 100px 0;
  counter-reset: item;

  @include media-breakpoint-up(md) {
    padding: 200px 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 350px 0 200px;
  }

  &__title {
    margin-bottom: 50px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 200px;
    }
  }

  &__flex {
    flex-direction: column;
    @include flex-pos(flex-start, center);
    margin: 30px 0;

    @include media-breakpoint-up(lg) {
      @include flex-pos(center, space-between);
      flex-direction: row;
    }
  }

  &__container {
    position: relative;
  }

  &__figure {
    z-index: z('projects__figure');
    width: 100%;
    height: 300px;
  }

  &__block {
    margin-bottom: 100px;
    
    @include media-breakpoint-up(xl) {
      display: flex;
      align-items: flex-start;
      margin-bottom: 300px;

      &:nth-child(1) {
        justify-content: flex-start;

        .projects__item {
          width: 40vw;
        }

        .projects__figure {
          height: 700px;
        }
      }

      &:nth-child(2) {
        justify-content: center;

        .projects__item {
          width: 60vw;
        }
        .projects__figure {
          height: 500px;
        }
      }

      &:nth-child(3) {
        justify-content: flex-end;

        .projects__item {
          width: 50vw;
        }
        .projects__figure {
          height: 600px;
        }
      }

      &:nth-child(4) {
        justify-content: flex-start;

        .projects__item {
          width: 50vw;
        }
        .projects__figure {
          height: 400px;
        }
      }
    }

    .body--dark & {
      border-color: rgba($c-white, 0.2);
    }

    .body--teal & {
      border-color: rgba($c-beige, 0.2);
    }
  }

  &__item {
    cursor: default;
  }

  &__link {
    color: inherit;
    cursor: pointer;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &__image {
    display: none;
  }

  &__project-description-wrapper {
    text-align: left;

    @include media-breakpoint-up(lg) {
      text-align: right;
      max-width: 30%;
    }

    p {
      font-family: 'nm-medium';
      font-size: 1.8rem;
      line-height: 2rem;
    }
  }
}
canvas {
  .aos-init & {
    transform: scale(2);
    transition: transform 2s ease;
  }

  .aos-animate & {
    transform: scale(1);
  }
}
