.video {
  width: 100%;
  height: 100%;
}

.plyr__controls .plyr__controls__item.plyr__volume {
  display: none;
}

.plyr--full-ui input[type='range'] {
  color: $c-white !important; // ugly but only way to override plugin
}

.plyr__control--overlaid {
  background: transparent !important;
  padding: 60px !important;
  border: 5px solid $c-white !important;
}

.plyr__control svg {
  display: block;
  fill: $c-white !important;
  height: 30px !important;
  pointer-events: none;
  width: 30px !important;
}

.plyr__controls {
  display: none !important;
}

.plyr__poster {
  background-size: cover !important;
}
