$c-black: #000000;
$c-white: #ffffff;
$c-grey-dark: #17181a;
$c-grey-light: #eee;
$c-orange-light: #efe3e1;
$c-yellow-light: #efeae1;
$c-blue-light: #b7d9d3;
$c-blue-dark: #c5f1ff;
$c-green-light: #b7d9c2;
$c-pink-light: #efe1e7;
$c-gold: #dcc693;
$c-red-light: #ff9292;

.bg {
  &--light {
    background-color: $c-grey-light;
    color: $c-grey-dark;
  }

  &--dark {
    background-color: $c-grey-dark;
    color: $c-grey-light;
  }

  &--grey-light {
    background-color: $c-grey-light;
  }

  &--orange-light {
    background-color: $c-orange-light;
  }

  &--yellow-light {
    background-color: $c-yellow-light;
  }

  &--pink-light {
    background-color: $c-pink-light;
  }

  &--blue-light {
    background-color: $c-blue-light;
  }

  &--blue-dark {
    background-color: $c-blue-dark;
  }

  &--green-light {
    background-color: $c-green-light;
  }
}
