$c-black: #000000;
$c-white: #ffffff;
$c-grey: #7a7a7a;
// $c-grey-dark: #131313;
$c-grey-dark: #17181a;
$c-grey-light: #eee;
$c-orange-light: #efe3e1;
$c-blue-light: #e1edef;
$c-pink-light: #efe1e6;

.bg {
  &--light {
    background-color: $c-grey-light;
    color: $c-grey-dark;
  }

  &--dark {
    background-color: $c-grey-dark;
    color: $c-grey-light;
  }
}
