$c-black: #000000;
$c-white: #ffffff;
// $c-grey-dark: #17181a;
$c-grey-dark: #1f1f1f;
$c-grey-light: #ececec;
$c-green-light: #b7d9c2;
$c-pink-light: #efe1e7;
$c-red-light: #ff9292;
$c-orange: #FF5722;
$c-blue: #014093;
$c-green: #15db95;
$c-red: #e42536;
$c-teal: #006e7b;
$c-beige: #f5efdc;

.bg {
  &--light {
    background-color: $c-grey-light;
    color: $c-grey-dark;
  }

  &--dark {
    background-color: $c-grey-dark;
    color: $c-grey-light;
  }

  &--grey-light {
    background-color: $c-grey-light;
  }

  &--blue {
    background-color: $c-blue;
  }

  &--green {
    background-color: $c-green;
  }

  &--green-light {
    background-color: $c-green-light;
  }

  &--pink-light {
    background-color: $c-pink-light;
  }

  &--red {
    background-color: $c-red;
  }

  &--teal {
    background-color: $c-teal;
  }

  &--orange {
    background-color: $c-orange;
  }
}