.splitting .char {
  animation: slideIn 1.6s cubic-bezier(.2, 0, .1, 1) both;
  animation-delay: calc(40ms * var(--char-index));
  will-change:transform;
  transform-origin: top left;
}

@keyframes slideIn {
  0% {
    transform: translateY(20px) scaleY(1.4);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}