.char,
.word,
.lines {
  animation-delay: var(--del);
  animation-direction: var(--dir, forwards);
  animation-duration: var(--dur);
  animation-iteration-count: var(--it, 1);
  animation-name: var(--name);
  animation-timing-function: var(--tf);
  animation-fill-mode: var(--fill, forwards);
  display: inline-block;
  position: relative;
  transform-origin: 50% 100%;
  z-index: 1;
}

.word {
  overflow: hidden;
}

.whitespace {
  line-height: 0px;
  visibility: hidden;
}

[data-aos='fade-in'] {
  &.aos-init {
    opacity: 0;
    transform: translateY(20%);
  }

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-aos] {
  body[data-aos-easing='smooth'] &,
  &[data-aos][data-aos-easing='smooth'] {
    transition-timing-function: cubic-bezier(0.2, 0, 0.1, 1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Splitting Text Animations
[data-aos='slide-up-heading'] {
  &.aos-init {
    .char {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  &.aos-animate {
    .char {
      animation: slideUpHeading 1s cubic-bezier(0.2, 0, 0.1, 1) both;
      animation-delay: calc(50ms * var(--char-index));
      will-change: transform;
      transform-origin: top left;
    }
}
}

[data-aos='slide-up-subheading'] {
  &.aos-init {
    .char {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  &.aos-animate {
    .char {
      animation: slideUp .6s cubic-bezier(0.2, 0, 0.1, 1) both;
      animation-delay: calc(70ms * var(--char-index));
      will-change: transform;
      transform-origin: top left;
    }
  }
}

[data-aos='slide-up-body'] {
  &.aos-init {
    .char {
      transform: translateY(100%);
      opacity: 1;
    }
  }

  &.aos-animate {
    .char {
      animation: slideUp 1s cubic-bezier(0.2, 0, 0.1, 1) both;
      animation-delay: calc(1ms * var(--char-index));
      will-change: transform;
      transform-origin: top left;
    }
  }
}

@keyframes slideUpHeading {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }

  50% {
     opacity: 1;
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
    0% {
    transform: translateY(100%);
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Image Animations
[data-aos='reveal-image-right'] {
  &.aos-init {
    &.reveal-image-right {
      &:after {
        transform: translateY(0);
      }
    }
  }

  &.aos-animate {
    &.reveal-image-right {
      &:after {
        animation: revealImageRight 3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
      }
    }
  }
}

[data-aos='zoom-image'] {
  &.aos-init {
    transform: scale(1);
  }

  &.aos-animate {
    animation: zoomImage 3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
}

@keyframes revealImageRight {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes zoomImage {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

.reveal-image-right {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: 0;

  &--light {
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $c-white;
    }
  }

  &--dark {
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $c-grey-dark;
    }
  }
}

