// Base copy
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  body {
    // font-family: $font-poppins-black;
    font-size: 10px;
    font-size: 1rem;
    background-color: $c-black;
  }
  