// Hero
@mixin h1 {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  line-height: 6rem;
  font-size: 5rem;

  @media only screen and (min-width: 450px) {
    font-size: 6.2rem;
  }

  @include media-breakpoint-up(md) {
    line-height: 10.6rem;
    font-size: 9rem;
  }

  @include media-breakpoint-up(lg) {
    line-height: 14rem;
    font-size: 12rem;
  }

  @include media-breakpoint-up(xl) {
    font-weight: 500;
    font-size: 11rem;
    line-height: 12.6rem;
  }
}

// Project Title (homepage)
@mixin h2 {
  position: relative;
  margin-bottom: 70px;
  font-family: 'poppins', sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 500;
  font-style: normal;
  color: inherit;

  &--light {
    &:after {
      background-color: $c-black;
    }
  }

  // &.aos-animate {
  //   &:after {
  //     width: 100%;
  //   }
  // }

  @include media-breakpoint-up(md) {
    font-size: 2.6rem;
    line-height: 4rem;
    margin-bottom: 100px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 6rem;
    line-height: 7rem;
  }
}

@mixin h3 {
  font-size: 2.6rem;
  line-height: 3.2rem;
  margin: 0;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-style: normal;

  @include media-breakpoint-up(md) {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 5.2rem;
    line-height: 5.6rem;
  }
}

@mixin h4 {
  font-family: 'poppins', sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
    line-height: 5.2rem;
  }
}

@mixin text--body {
  margin-bottom: 0;
  font-family: 'poppins', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3rem;

  @include media-breakpoint-up(md) {
    font-size: 3rem;
    line-height: 4.2rem;
  }

  @include media-breakpoint-up(lg) {
    line-height: 2.8rem;
    font-size: 2rem;
  }

  @include media-breakpoint-up(xl) {
    line-height: 3.4rem;
  }

  .bg--light & {
    font-weight: 400;
  }
}

@mixin text--large {
  font-weight: 300;
  font-size: 3rem;
  line-height: 3.6rem;

  @include media-breakpoint-up(lg) {
    font-size: 2.6rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 4rem;
    line-height: 5rem;
  }

  .bg--light & {
    font-weight: 400;
  }
}

@mixin text--small {
  font-family: 'poppins', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.275rem;

  @include media-breakpoint-up(md) {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
  }
}
