.splitting .char {
  animation: slideIn 1.6s cubic-bezier(0.2, 0, 0.1, 1) both;
  animation-delay: calc(40ms * var(--char-index));
  will-change: transform;
  transform-origin: top left;
}

@keyframes slideIn {
  0% {
    transform: translateY(20px) scaleY(1.2);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

.reveal-text-wrapper {
  overflow: hidden;
}

.reveal-text {
  transform: translateY(100%);
  animation: reveal 1.7s 1s cubic-bezier(1, 0, 0.3, 0.9) forwards;
}

.reveal-text-reverse {
  animation: reveal-reverse 1.7s cubic-bezier(1, 0, 0.3, 0.9) forwards;
}

@keyframes reveal {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}



@keyframes reveal-reverse {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
