// Hero
@mixin h1 {
  font-family: 'nm-bold';
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  line-height: 5rem;
  font-size: 5rem;

  @include media-breakpoint-up(md) {
    line-height: 8.4rem;
    font-size: 9rem;
  }

  @include media-breakpoint-up(lg) {
    line-height: 10.4rem;
    font-size: 12rem;
  }

  @include media-breakpoint-up(xl) {
    font-family: 'nm-medium';
    line-height: 13rem;
    font-size: 14rem;
  }
}

@mixin h2 {
  font-size: 5rem;
  line-height: 6rem;
  font-family: 'nm-regular';
  font-weight: 600;

  @include media-breakpoint-up(md) {
    font-size: 8rem;
    line-height: 7rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 10rem;
    line-height: 9rem;
  }
}

@mixin h3 {
  font-size: 3rem;
  margin: 0;
  line-height: 4rem;
  font-family: 'nm-medium';
  font-weight: 500;

  @include media-breakpoint-up(xl) {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@mixin h4 {
  font-size: 2.6rem;
  line-height: 3rem;
}

@mixin text--body {
  font-family: 'nm-regular';
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 2rem;
}

@mixin text--medium {
  font-family: 'nm-regular';
  font-size: 2rem;
  line-height: 2.4rem;

  @include media-breakpoint-up(xl) {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}

@mixin text--large {
  font-family: 'nm-regular';
  font-weight: 300;
  font-size: 3rem;
  line-height: 3.6rem;

  @include media-breakpoint-up(lg) {
    font-size: 2.6rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
    line-height: 4.2rem;
  }
}

@mixin text--small {
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.275rem;

  @include media-breakpoint-up(md) {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

p {
  @include text--body;
}
