// Base copy
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 10px;
  font-size: 1rem;
  background-color: $c-grey-dark;
  color: $c-white;
  font-family: 'poppins-regular';
}

p {
  font-weight: normal;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $c-white;
  border-radius: 0;
}

::selection {
  background: $c-purple;
  text-shadow: none;
}

::-webkit-selection {
  background: $c-purple;
  text-shadow: none;
}

::-moz-selection {
  background: $c-purple;
  text-shadow: none;
}
